<div *ngIf="currentCity" class="container">
  <div *ngIf="restaurants"><!-- if there are any restaurants -->
    <div *ngFor="let restaurant of restaurants" class="card"><!-- render restaurants -->
      <div class="card-title">
        <!-- index of restaurants as i -->
        {{restaurant.name}} - {{restaurant.address}}
      </div>
      <div class="card-content">
        <h5>{{restaurant.category}}</h5>
      </div>
    </div>

    <!-- loading icon while getting restaurants -->
    <!--  https://materializecss.com/preloader.html  -->
    <div *ngIf="!restaurants.length" class="center" style="margin-top: 50px">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-red-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
        </div>
      </div>
    </div>
  <!-- form to submit new restaurants -->
    <div *ngIf="currentUser && restaurants" class="container center-align">
      <app-restaurant-form></app-restaurant-form>
    </div>

  </div>

  <app-restaurants></app-restaurants>
</div>


