.restaurantContainer {
  max-width: 1200px;
  max-height: 1200px;
  display: flex;
  align-self: end;
}
.card-content {
  //border-radius: 20px;
  border: 2px solid whitesmoke;
  margin: 10px;
}

.card-title {
  //border-radius: 20px;
  border: 2px solid whitesmoke;
  margin-top: 10px;
}
.card {
  padding: 10px;
}
